{
  "openapi": "3.1.0",
  "info": {
    "title": "FRCTools Orders API",
    "version": "1.0.0",
    "description": "Read-only access to projects, tags, and orders in an FRCTools Orders organization. Create an organization API key in Organization Settings, then provide it in the `x-api-key` header."
  },
  "servers": [
    {
      "url": "https://orders.frctools.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Projects"
    },
    {
      "name": "Tags"
    },
    {
      "name": "Orders"
    }
  ],
  "paths": {
    "/api/v1/projects": {
      "get": {
        "tags": ["Projects"],
        "summary": "List projects",
        "description": "Returns all projects in the organization associated with the API key, including archived projects.",
        "operationId": "listProjects",
        "responses": {
          "200": {
            "description": "Projects returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/tags": {
      "get": {
        "tags": ["Tags"],
        "summary": "List tags",
        "description": "Returns all tags in the organization associated with the API key, sorted by name.",
        "operationId": "listTags",
        "responses": {
          "200": {
            "description": "Tags returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TagsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/api/v1/orders": {
      "get": {
        "tags": ["Orders"],
        "summary": "List orders",
        "description": "Returns orders in the organization associated with the API key, ordered by most recently updated. Filter the results to one project with `projectId`.",
        "operationId": "listOrders",
        "parameters": [
          {
            "name": "projectId",
            "in": "query",
            "description": "Only return orders assigned to this project.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Orders returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdersResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "OrganizationApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "An API key created by an organization owner in Organization Settings."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "The `x-api-key` header is missing or does not contain a valid organization API key."
      }
    },
    "schemas": {
      "Project": {
        "type": "object",
        "required": ["id", "organizationId", "name", "slug", "color", "isArchived", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string" },
          "organizationId": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "color": { "type": "string", "example": "#2563eb" },
          "isArchived": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "Tag": {
        "type": "object",
        "required": ["id", "organizationId", "name", "color", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "organizationId": { "type": "string" },
          "name": { "type": "string" },
          "color": { "type": "string", "example": "#6366f1" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Order": {
        "type": "object",
        "required": ["id", "organizationId", "projectId", "partName", "status", "quantity", "requestedBy", "createdAt", "updatedAt"],
        "properties": {
          "id": { "type": "string" },
          "organizationId": { "type": "string" },
          "projectId": { "type": "string" },
          "partName": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "status": { "type": "string", "enum": ["to_order", "ordered", "arrived"] },
          "quantity": { "type": "integer", "minimum": 1 },
          "unitPriceCents": { "type": ["integer", "null"], "description": "Price per unit, in US cents." },
          "variantId": { "type": ["string", "null"] },
          "variantTitle": { "type": ["string", "null"] },
          "vendorId": { "type": ["string", "null"] },
          "vendorName": { "type": ["string", "null"] },
          "externalUrl": { "type": ["string", "null"], "format": "uri" },
          "orderedAt": { "type": ["string", "null"], "format": "date-time" },
          "arrivedAt": { "type": ["string", "null"], "format": "date-time" },
          "requestedBy": { "type": "string" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        }
      },
      "ProjectsResponse": {
        "type": "object",
        "required": ["projects"],
        "properties": {
          "projects": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } }
        }
      },
      "TagsResponse": {
        "type": "object",
        "required": ["tags"],
        "properties": {
          "tags": { "type": "array", "items": { "$ref": "#/components/schemas/Tag" } }
        }
      },
      "OrdersResponse": {
        "type": "object",
        "required": ["orders"],
        "properties": {
          "orders": { "type": "array", "items": { "$ref": "#/components/schemas/Order" } }
        }
      }
    }
  },
  "security": [
    {
      "OrganizationApiKey": []
    }
  ]
}
